// variables
@import url('https://use.typekit.net/kxr1mwi.css'); // RTI font
$primary: rgba( 30, 79, 150, 1);
$secondary: rgba(0, 163, 224, 0.1);
$card: transparent;
$body-bg: white;
$body-color: #414042;
$font-family-sans-serif: 'proxima-nova', sans-serif;